.gogi-font {
  font-style: italic;
  font-size: 999px; }

.gogi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  color: teal;
  background-color: lightpink; }
