.coutainerForAll {
    width: 100vw;
    margin: 0 auto;
}
.text {
    font-family: ﻿AdobeInvisFont, ﻿Arimo, ﻿Courier, Montserrat, sans-serif;
    text-decoration: none;
}
.header {
    background: url(../img/headerBackground.png);
    width: 100vw;
    height: 1012px;
    background-size: cover;
}
.header-line {
    margin: auto;
    display: flex;
}
.top-fade-line {
    height: 120px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    margin: 0 auto;
    border-top: 1px solid transparent;
    display: flex;
}
.hexa-in-top {
    background: url(../img/hexaInTop.png);
    width: 58px;
    height: 66px;
    border-top: 1px solid transparent;
    display: inline-block;
}
.p-in-hexatop {
    font-size: 40px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 15px;
}
.the-ham {
    color: rgba(255, 255, 255, 255);
    font-size: 25px;
    margin-left: 5px;
    margin-top: 25px;
}
.ham {
    font-weight: bolder;
    color: #18cfab;
}
.header-top-menu {
    color: #b8b8b8;
    font-weight: bolder;
    margin-left: 200px;
    margin-top: 17px;
}
.header-top-menu-flex {
    display: flex;
    font-size: 13px;
}
.header-top-menu-flex > a {
    margin: 10px;
}
.lupe {
    height: 22px;
    width: 22px;
    background: url(../img/lupe.png);
}
.top-menu-hover:hover {
    color: #18cfab;
    position: relative;
}
.top-menu-hover:hover::after {
    display: block;
    width: 100%;
    content: '';
    position: absolute;
    border-bottom: 2px solid #18cfab;
    top: 66px;
}
.text-and-buttons-wordpress {
    margin: auto;
}
.wordpress-header {
    margin: auto;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 246px;
    font-weight: bolder;
}
.wordpress-theme {
    color: #18cfab;
}
.creative-worldpress {
    color: white;
    text-align: center;
    font-size: 69px;
    text-transform: uppercase;
    margin-top: 45px;
    font-weight: bolder;
}
.just-buy-header {
    color: white;
    text-align: center;
    margin-top: 37px;
    font-size: 29px;
    font-weight: 100;
    font-family: Montserrat, sans-serif;
}
.header-buttons {
    width: 361px;
    margin: auto;
    color: white;
}
.button-explore-container {
    display: inline-block;
    margin-top: 140px;
    border-top: white solid 4px;
    border-radius: 4px;
}
.button-explore {
    background-color: #18cfab;
    width: 162px;
    height: 61px;
    color: white;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
}
.button-purchase-container {
    display: inline-block;
    border-top: white solid 4px;
    margin-left: 28px;
    border-radius: 4px;
}
.button-purchase {
    background-color: #00cbf6;
    width: 166px;
    height: 61px;
    color: white;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
}
.flex-box-afterheader {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.box-in-flex-aflerheader {
    width: 480px;
    height: 366px;
}
.border-green {
    border-top: solid 7px #18cfab;
    background-color: #1c2a33;
}
.border-white {
    border-top: solid 7px white;
    background-color: #18cfab;
}
.img-in-box-afterheader {
    margin: auto;
    margin-top: 95px;
    height: 97px;
}
.devices-in-box {
    width: 99px;
}
.lamp-in-box {
    width: 60px;
}
.diamond-in-box {
    width: 93px;
}
.hand-in-box {
    width: 58px;
}
.text-in-box-afterheader {
    margin-top: 48px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}
.text-green {
    color: #18cfab;
}
.border-white {
    color: white;
}
.container-our-services {
    width: 1160px;
    margin: auto;
    height: 221px;
}
.our-services {
    margin-top: 82px;
    text-align: center;
    font-size: 36px;
    color: #4e4e4e;
}
.greenline-one {
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    margin-top: 37px;
    margin-left: 534px;
    display: block;
}
.greenline-twoo {
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    margin-top: 3px;
    margin-left: 554px;
    display: block;
}
.container-for-tabs {
    width: 1160px;
    height: 325px;
    margin: auto;
}
.tabs-buttons-container {
    width: 1160px;
    height: 75px;
    display: flex;
}
.tabs-button {
    width: 192px;
    height: 73px;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    position: relative;
    line-height: 80px;
    color: #959697;
    text-align: center;
}
.tabs-button.active {
    background-color: #18cfab;
    color: white;
}
.tabs-button.active::after {
    content: '';
    border: 12px solid transparent;
    border-top: 12px solid rgb(24, 207, 171);
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -24px;
    width: 0;
}
.text-in-tabbutton {
    text-align: center;
    margin-top: 27px;
    color: #9e9fa0;
    font-size: 16px;
}
.tabcontent {
    display: none;
}
.tabcontent.active {
    display: block;
}
.tabs-content {
    margin-top: 25px;
}
.img-in-tabs {
    height: 134px;
}
.p-in-tabs {
    font-size: 14px;
    color: #898989;
    height: 136px;
    margin-left: 20px;
    width: 925px;
    float: right;
}
.container-of-everything-in-ready {
    background: url(../img/Everythingbackground.png) 0 -35vh;
    background-size: cover;
}
.everything-filter-incontainer {
    width: 100vw;
    height: 476px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    border-top: 1px solid transparent;
}
.header-everything {
    color: #18cfab;
    font-size: 39px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 128px;
    opacity: initial;
}
.after-everything-text {
    color: #b7b6b6;
    font-size: 16px;
    text-align: center;
    margin-top: 35px;
}
.container-for-buttonineverything {
    margin: auto;
}
.button-in-everything-cont {
    width: 165px;
    height: 61px;
    border-top: 4px solid white;
    border-radius: 4px;
    background-color: #18cfab;
    margin: auto;
    margin-top: 76px;
    line-height: 60px;
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}
.container-for-our-amazing-work {
    width: 1160px;
    margin: auto;
}
.our-amazing {
    color: #4e4e4e;
    font-size: 36px;
    margin-top: 97px;
    text-align: center;
}
.tabcontainer-amazing {
    height: 58px;
    margin: auto;
    display: flex;
    margin-top: 70px;
    justify-content: center;
}
.tabbutton-amazing {
    color: #717171;
    padding: 24px 22px 40px 22px;
    border: #ebebeb solid 1px;
    margin-bottom: 71px;
}
.tabbutton-amazing.active {
    color: #18cfab;
    position: relative;
}
.tabbutton-amazing.active::before {
    display: block;
    width: 101%;
    content: '';
    position: absolute;
    border-bottom: 2px solid #18cfab;
    top: -2px;
    right: -1px;
}
.amazing-grid-container {
    width: 1160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-top: 71px;
    grid-template-rows: 1fr 1fr 1fr;
}
.img-in-amazing-grid {
    width: 290px;
    height: 217.5px;
}
.img-in-amazing-grid.active {
    display: none;
}
.button-for-amazing-add {
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    margin: auto;
    margin-top: 71px;
    border-top: 1px solid transparent;
    border-radius: 3px;
    display: flex;
}
.button-for-amazing-add.novisible {
    display: none;
}
.plus-in-button-amazing {
    color: white;
    font-size: 41px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 22px;
}
.load-more-inbutton {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 16px;
}
.grayline {
    height: 1px;
    border-top: #e1e1e1 1px solid;
    width: 100vw;
    margin-top: 100px;
}
.container-for-news {
    width: 1160px;
    margin: auto;
}
.news {
    margin-top: 84px;
    font-size: 36px;
    text-align: center;
    color: #4e4e4e;
}
.for-visible-greenline-twoo {
    height: 1px;
}
.container-for-news-grid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid-cell-news {
    height: 281px;
    width: 264px;
    background-color: #f8fcfe;
    margin-top: 45px;
    border: 1px #ebebeb solid;
}
.news-img {
    width: 263px;
    height: 208px;
    background-color: yellow;
    position: relative;
}
.feb {
    position: absolute;
    width: 68px;
    height: 66px;
    color: white;
    background-color: #203e38;
    top: 0;
    left: 195px;
    font-size: 16px;
}
.in-feb {
    text-align: center;
    margin-top: 11px;
}
.grid-cell-news:hover .feb {
    background-color: #18cfab;
}
.news-post-text {
    color: #717171;
    font-size: 18px;
    font-weight: bold;
    margin-top: 14px;
    margin-left: 10px;
}
.by-name {
    margin-top: 14px;
    font-size: 14px;
    font-weight: lighter;
    color: #717171;
    margin-left: 10px;
}
.grid-cell-news:hover .news-post-text {
    color: #18cfab;
}
.container-for-people {
    margin-top: 133px;
    background: url(../img/peoplebg.jpg);
    width: 100vw;
    height: 851px;
    background-size: cover;
    border-top: 1px solid transparent;
}
.container-people {
    margin: auto;
    width: 1160px;
}
.what-people {
    color: white;
    font-size: 36px;
    margin-top: 98px;
    text-align: center;

}
.komms-in-people {
    width: 44px;
    height: 30px;
    margin: 69px auto;
}
.nteger-in-people {
    color: white;
    text-align: center;
    font-size: 16px;
}
.container-for-plugin {
    margin: 43px auto;
    width: 1160px;
    height: 430px;
    border-top: 1px solid transparent;
}
.frontimgandtext-in-plugin {
    margin: 33px auto;
    width: 163px;
}
.text-at-frontimg {
    color: #18cfab;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}
.ux-text-at-plugin {
    color: white;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}
.container-for-img-at-plugin {
    margin: 27px auto;
    width: 163px;
    height: 164px;
}
.opacity-circle-inplugin {
    border: 10px solid rgba(24, 207, 171, 0.3);
    width: 143px;
    height: 143px;
    border-radius: 50%;
}
.border-circle-noopacity-inplugin {
    border: 2px solid rgb(24, 207, 171);
    border-radius: 50%;
    width: 139px;
    height: 139px;
    overflow: hidden;
}
.img-in-pluginfront {
    width: 139px;
    height: 139px;
}
.courusel-in-plugin {
    margin: auto;
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.inplugin-button {
    width: 31px;
    height: 31px;
    margin-top: 33px;
    border: 1px white solid;
}
.inplugin-button:hover {
    background-color: #18cfab;
}
.ringt-button {
    margin-left: 40px;
}
.inplugin-left-arrow {
    color: white;
    text-align: center;
    margin-top: 7px;
}
.inplugin-circle-opacity-andcontainer {
    border: 4px solid rgba(24, 207, 171, 0.3);
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 40px;
    transition: margin-top linear 0.5s;
}
.inplugin-circle-noopacity {
    border: 1px solid rgb(24, 207, 171);
    width: 66px;
    height: 66px;
    overflow: hidden;
    border-radius: 50%;
}
.in-plugin-img-bottom {
    width: 66px;
    height: 66px;
}
.inplugin-circle-opacity-andcontainer.active {
    transition: margin-top linear 0.5s;
    margin-top: 0;
}
.footer {
    height: 108px;
    background-color: #22353f;
    margin: auto;
    border-top: 1px solid transparent;
}
.footer-text {
    text-align: center;
    font-size: 14px;
    margin-top: 47px;
    color: white;
}
.end {
    height: 11px;
    color: white;
}
