@import 'fonts';

$bgc: #f00f11;

@mixin flexContainer($flexDirection) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: $flexDirection;
}

.gogi {
  @include flexContainer(column);
  font-size: 24px;
  color: teal;
  background-color: lightpink;
}